<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../../stylesheets/style.css">


<nav class="navbar navbar-inverse">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li><a href="/">Inicio</a></li>
            <li><a href="/producto/lista">Catalogo</a></li>


            <li class="active"><a href="/pedido/lista">Carrito de compras</a></li>
            <li><a href="/main">Encuesta de la semana</a></li>
        </ul>
    </div>
</nav>


<div class="container">


    <h1 class="titulo2">Carrito de compras</h1>
    <% if (pedidos){ %>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <% pedidos.forEach(function(pedido) { %>
                    <tr>
                        <td>
                            <%= pedido.nombre %></a>
                        </td>
                        <td>
                            <%= pedido.descripcion %>
                        </td>
                        <td>
                            <%= pedido.precio %>
                        </td>
                        <td>
                            <%= pedido.cantidad %>
                        </td>
                        <td>
                            <%= pedido.subtotal %>
                        </td>
                    </tr>
                    <% }); %>
                        <tr>
                            <td colspan="4">Total</td>
                            <td>
                                <%=total%>
                            </td>
                        </tr>
            </tbody>
        </table>
        <%} else {%>
            <div>No hay pedidos.</div>
            <% } %>
</div>

<div class="container">
    <a class="Do" href="/pedido/agregar">Agregar Productos</a>
</div>




<script type="javascript" src=".../javascripts/general.js"></script>